body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#chat-container {
    height: 70vh;
    border: 1px solid #a9a9a9;
    margin: 10px 5px 5px 5px;
    overflow-y: auto;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px 5px 0 0;
}

.type-text-container {
    display: flex;
    height: 15vh;
}

    .type-text-container * {
        margin: 5px;
    }

    .type-text-container input[type="text"] {
        max-width: 100%;
        width: 85%;
        height: 100%;
        padding: 20px;
        margin: 5px;
    }

    .type-text-container input[type="submit"] {
        width: 15%;
        margin: 5px;
        height: 100%;
        font-size: 1.5em;
    }

.transcript-table {
    border: none;
}

    .transcript-table td {
        border: none;
    }

.transcript-name {
    font-weight: 700;
}

tr:nth-child(even) .transcript-name {
    color: blue;
}

tr:nth-child(odd) .transcript-name {
    color: red;
}

.transcript-message {
    padding-left: 10px;
}
